@media (max-width: 575.98px) { 
	.contant-a {
		height: 600px !important;
	}
	.contant-a h1 {
		font-size: 30px !important;
	}
	.footer-list {
		text-align: center;
	}
	.nav-bar {
		display: none;
	}
	.hamburger-wrawer {
		display: inline-block;
		width: 100%;
		text-align: start;
		padding-left: 15px;
	}
	.logo {
		display: flex;
		justify-content: flex-start !important;
		padding-left: 15px;
	}
	.footer {
	padding-top: 50px;
	}

 }

@media (max-width: 767.98px) { 
	.logo {
		display: flex;
		justify-content: center;
	}
		.header-socials {
		display: flex;
		justify-content: center;
	}
	.content h1 {
		font-size: 40px;
	}
	.content p {
		font-size: 14px;
	}
	.contant-a  {
		height: 570px;
	}
	.image-m {
		display: flex;
		justify-content: center;
		padding: 0 0;
	}
	.mark h2 {
		text-align: center;
	}
		.mark li {
		text-align: center;
		font-size: 14px;
	}
 }


@media (max-width: 991.98px) { 
	.contant-a  {
		height: 406px;
	}
	.contant-a h1 {
		font-size: 40px;
	}
	.contant-a p {
		font-size: 14px;
	}
	.mark li {
		font-size: 16px;
	}
 }

@media (max-width: 1199.98px) { 
	.image-a {
		text-align: center;
	}
	.contant-a h1 {
		text-align: center;
	}
	.contant-a p {
		text-align: center;
	}
 }